.animal-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 80vh;
    overflow-y: auto;
    & .card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: 2px solid black;
        padding: 5%;
        border-radius: 10px;

        & .name {
            text-align: center;
            font-size: 1.5rem;
        }

        & .breed {
            font-size: 1rem;
            text-align: center;
        }

        & .animal-info {
            display: flex;
            flex-direction: column;
            margin-top: 5%;
            font-size: 0.8rem;

            & span {
                margin: 1% 0;
            }
        }
    }
}
