* {
    box-sizing: border-box;
    margin: 0;
    font-style: unset;
    text-decoration: none;
}

:root {
    font-size: 16pt;
}

i,
select,
input {
    user-select: none;
    cursor: pointer;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    & header {
        display: none;
        & h1 {
            text-align: center;
        }
    }
    & main {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas: "form animals";
        grid-template-columns: repeat(2, 1fr);

        & .form-wrapper {
            grid-area: form;
            height: 100%;
            width: 100%;
            border: 10px solid black;
            border-radius: 20px;
            background-color: antiquewhite;
            padding: 2%;
        }

        & .animals-wrapper {
            height: 100%;
            width: 100%;
            grid-area: animals;
            border: 10px solid black;
            background-color: antiquewhite;
            padding: 2%;
            border-radius: 20px;

            & h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 10%;
            }

            & .select-wrapper {
                & .display-selector {
                    height: 30px;
                    width: 15%;
                    margin: 1% 0;
                }
            }
        }
    }
}

article.hidden,
i.hidden {
    display: none;
}
